.hero {
  position: relative;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  /* height: permet de coller la nav au container Hero*/
}

.hero_bgd {
  /* Rend la img responsive  */
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover; /* Couvre la <section> */
  z-index: -1;
  filter: brightness(
    0.7
  ); /* Assombrir légèrement pour améliorer la lisibilité du texte */
}

.hero_container {
  position: absolute;
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%);
  max-width: 900px; /* Limite la largeur pour les grands écrans */
  margin: 0 auto; /* Centre le conteneur */
  text-align: center;
  z-index: 1;
}

.hero__titres,
.hero__texte {
  display: grid;
  gap: 12px;
  width: 50%;
}

.hero__soustitre {
  font-size: 1.5rem;
  /* max-height: 40px; Éviter des hauteurs fixes, limite avec max-height */
  /* overflow: hidden; Évite les débordements de texte */
}

.hero__titre {
  margin-bottom: 20px;
}

.hero__texte {
  font-size: 1rem;
  line-height: 1.5; /* Améliore la lisibilité */
}

.hero__boutons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 80px;
  z-index: 1;
}

.hero__boutons a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  background-color: rgba(68, 68, 68, 0.471);
  padding: 10px 26px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}
.hero__boutons a:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Assombrit le fond au survol */
  transform: scale(1.05); /* Légère augmentation de la taille */
}

.hero__boutons img {
  height: 24px; /* Taille des icônes */
  width: auto;
}
@media screen and (min-width: 780px) {
  .hero__texte {
    font-size: 1.2rem;
  }
  .hero__boutons a {
    padding: 12px 40px;
  }
}
